<section [@fade]="true">
  <div class="container">
    <h1>Hands-On Comparison</h1>

    <a routerLink="/its-on/hands-on-comparison/exterior" class="topDown">
      <div>
        <img src="../../../../../assets/images/kia-telluride-top-down-comp1.png" width="100%" alt="Kia Telluride Exterior">
        <h2>Exterior</h2>
      </div>
    </a>

    <a routerLink="/its-on/hands-on-comparison/first-row" class="topDown">
      <div>
        <img src="../../../../../assets/images/kia-telluride-top-down-comp2.png" width="100%" alt="Kia Telluride First Row">
        <h2>1<sup>st</sup> Row</h2>
      </div>
    </a>

    <a routerLink="/its-on/hands-on-comparison/second-third-rows" class="topDown">
      <div>
        <img src="../../../../../assets/images/kia-telluride-top-down-comp3.png" width="100%" alt="Kia Telluride Second & Third Rows">
        <h2>2<sup>nd</sup> &amp; 3<sup>rd</sup> Rows</h2>
      </div>
    </a>

    <a routerLink="/its-on/hands-on-comparison/cargo" class="topDown">
      <div>
        <img src="../../../../../assets/images/kia-telluride-top-down-comp4.png" width="100%" alt="Kia Telluride Exterior">
        <h2>Cargo</h2>
      </div>
    </a>
  </div>
</section>
