<section [@fade]="true">
  <div class="container">
    <h1>GameON</h1>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          Fun Fact
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <p>Did you know that ON was the vehicle code for Telluride during development?</p>
          
          <p>GameON!</p>
          
          <p><em>(See what we did there?)</em></p>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Round 1 Competition
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div *ngIf="!error.length">
            <p>Quizzes are graded on accuracy and speed. The faster you select the correct answer, the more points you get for your team.</p>

            <p>When you’re ready, launch the {{ quizName }} below. Good luck!</p>

            <button class="kiaBtn" *ngIf="!hasAnswers" (click)="launchQuiz()">Launch Quiz</button>
            <button class="kiaBtn" *ngIf="hasAnswers" (click)="launchQuiz()">View Quiz Results</button>
          </div>

          <div class="errorMsg" [@topDown]="true" *ngIf="error.length">
            <p>{{ error }}</p>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
