<h1 mat-dialog-title>KUID
  <span *ngIf="data.hasKuid">Already Registered</span>
  <span *ngIf="!data.hasKuid">Not Found</span></h1>

<div mat-dialog-content>
  <div *ngIf="data.hasKuid">
    <p>Your KUID has already been registered to another email address.</p>

    <p>Please go back and enter the correct email address on file.</p>
  </div>

  <div *ngIf="!data.hasKuid">
    <p>We were unable to find a KUID assigned to <strong>{{ data.email }}</strong>. Please make sure you enter the email address that was used to register for Kia University (it might be a personal email address, not your dealer email address).</p>
    
    <p><strong>NOTE:</strong> Proceeding without an assigned KUID may prevent you from receiving certification for this training event.</p>

    <p>Would you like to proceed without a KUID, or edit your email address and try again?</p>
  </div>
</div>

<div mat-dialog-actions>
  <button class="kiaBtn dialog secondary"*ngIf="!data.hasKuid" [mat-dialog-close]="true">Proceed</button>
  <button class="kiaBtn dialog primary" *ngIf="!data.hasKuid" [mat-dialog-close]="false">Edit</button>
  <button class="kiaBtn dialog primary" *ngIf="data.hasKuid" [mat-dialog-close]="true">Go Back</button>
</div>