<section [@fade]="true">
  <div class="container">
    <h1>SwitchedON</h1>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          Objectives
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <ul>
            <li>Acquire showroom-friendly Kia brand talking points that help build trust and credibility with new customers.</li>
            <li>Gain a sense of the midsize SUV market opportunity that awaits you!</li>
            <li>Discover simple ways to grow sales and loyalty with the all-new midsize SUV buyer.</li>
          </ul>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Exploration Overview
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <ul>
            <li><strong>Discover:</strong> Work in pairs to find and scan all 8 SwitchedON targets...
              <br>[blippar target image]</li>
            <li><strong>Recap:</strong> We’ll recap your findings as a group.</li>
            <li><strong>Mind Meld:</strong> Your facilitator will share a “gate code” to open a quiz. Work as a team to answers questions with accuracy and speed!</li>
          </ul>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          QR Code Scanner
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <p>Use the built-in QR code scanner to open additional content.</p>

          <p>iPhone users: If you are having issues with the scanner, please make sure you are using your default Safari web browser.</p>

          <button class="kiaBtn" routerLink="/switched-on/qr-scanner">Open Scanner</button>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          {{ quizName }}
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <div *ngIf="!error.length">
            <p>Quizzes are graded on accuracy and speed. The faster you select the correct answer, the more points you get for your team.</p>

            <p>When you’re ready, launch the {{ quizName }} below. Good luck!</p>

            <button class="kiaBtn" *ngIf="!hasAnswers" (click)="launchQuiz()">Launch Quiz</button>
            <button class="kiaBtn" *ngIf="hasAnswers" (click)="launchQuiz()">View Quiz Results</button>
          </div>

          <div class="errorMsg" [@topDown]="true" *ngIf="error.length">
            <p>{{ error }}</p>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
