<section [@fade]="true">
  <div class="container">
    <h1>Leaderboard</h1>

    <button class="kiaBtn" *ngIf="!error && !groupSelected" (click)="selectSession()">Select Session</button>

    <div class="text-center" *ngIf="!error && groupSelected">
      <p><a (click)="selectSession()">Current Session: {{ group.dealer }} {{ group.session }}</a></p>

      <div class="adminContainer">
        <ngx-charts-bar-vertical id="teamChart" [scheme]="teamColors" [results]="teamPoints" [xAxis]="true" [yAxis]="true" [tooltipDisabled]="true" (select)="onSelect($event)"></ngx-charts-bar-vertical>
      </div>
    </div>

    <div *ngIf="error">
      <h4>Something went wrong...</h4>

      <p class="errorMsg">It appears there was an issue connecting to the team data. Please make sure you have a WiFi or mobile data connection and try refreshing your browser. Then open this page&nbsp;again.</p>
    </div>
  </div>
</section>
