<section [@fade]="true">
  <div class="container text-center">
    <h1>It’sON</h1>

    <p><strong>Objectives:</strong></p>

    <ul>
      <li>Identify essential Telluride product stories</li>
      <li>Discover Telluride competitive advantages</li>
      <li>Gain skill with simple ways to build customer engagement</li>
    </ul>

    <button class="kiaBtn large" routerLink="/its-on/hands-on-comparison">Hands-On Comparison</button>
    <button class="kiaBtn large" routerLink="/its-on/street-drive">“Focus on the Family” Drive</button>
  </div>
</section>
