<section [@fade]="true">
  <div class="container">
    <h1>It’sON</h1>

    <p><strong>Objectives:</strong></p>

    <ul>
      <li>Identify essential Telluride product stories</li>
      <li>Discover Telluride competitive advantages</li>
      <li>Gain skill with simple ways to build customer engagement</li>
    </ul>

    <button class="kiaBtn large" (click)="goTo('https://rise.articulate.com/share/5xYrUQ8Y56CMo6YDMHVm_1mXnFWoic1g')">Telluride Hands-On Introduction</button>
    <button class="kiaBtn large" routerLink="/its-on/street-drive">“Focus on the Family” Drive</button>
    <button class="kiaBtn large" routerLink="/its-on/hands-on-comparison">Telluride Self-Study Deep Dive</button>
  </div>
</section>
