<section [@fade]="true">
  <div class="container">
    <h1>PreGame</h1>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          Agenda
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <p><strong>Buckle up. It’s going to be a great day of active learning and fun!</strong></p>

          <img src="../../../assets/images/agenda.jpg" width="100%" alt="Agenda">
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Press Reviews
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <p>See what the press has to say about the all-new 2020 Kia Telluride...</p>

          <p><a href="https://www.kiamedia.com/us/en/models/telluride/2020" target="_blank">Kia Telluride Press Release</a></p>

          <p><a href="https://www.automobilemag.com/news/2020-kia-telluride-suv-photos-info-specs/" target="_blank">Automobile Magazine</a></p>

          <p><a href="https://www.caranddriver.com/news/a23031449/2020-kia-telluride-three-row-suv-photos-info/" target="_blank">Car and Driver</a></p>

          <p><a href="https://www.motortrend.com/cars/kia/telluride/2020/2020-kia-telluride-first-look-going-bigger/" target="_blank">Motor Trend</a></p>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
