<section [@fade]="true">
  <div class="container">
    <h1>PreGame</h1>

    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          Agenda
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <p><strong>Buckle up. It’s going to be a great day of active learning and fun!</strong></p>

          <img src="../../../assets/images/agenda.jpg" width="100%" alt="Agenda">
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          QR Code Scanner
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <p>Use the built-in QR code scanner to open additional content.</p>

          <p>iPhone users: If you are having issues with the scanner, please make sure you are using your default Safari web browser.</p>

          <button class="kiaBtn" (click)="openScanner()">Open Scanner</button>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Press Reviews
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <p><a href="#" target="_blank">Motor Trend Review</a></p>

          <p><a href="#" target="_blank">Car &amp; Driver Review</a></p>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
