<header>
  <nav>
    <button id="backBtn" [class.on]="notHome" *ngIf="isLoggedIn || isLoggedInAdmin" (touchstart)="outsideNav(); closeSubNav()" (click)="goBack()"><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon></button>

    <button id="logoBtn" [class.centered]="(isLoggedIn || isLoggedInAdmin) && notHome" routerLink="/" (touchstart)="outsideNav(); closeSubNav()"><img src="../assets/images/kia-logo.png" height="100%" alt="Kia Logo"></button>

    <button id="notesBtn" [class.hasNotes]="hasNotes" *ngIf="isLoggedIn" (touchstart)="outsideNav()" (click)="openNotes()"><fa-icon [icon]="['fas', 'edit']"></fa-icon></button>

    <button id="leaderBtn" *ngIf="isLoggedIn" (touchstart)="outsideNav()" (click)="openLeaderboard()"><fa-icon [icon]="['fas', 'trophy']"></fa-icon></button>

    <button id="navBtn" [class.open]="state === 'active'" *ngIf="isLoggedIn || isLoggedInAdmin" (click)="toggleNav()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>

  <div id="navMenu" [@navMenu]="state">
    <div *ngIf="!isAdmin">
      <a routerLink="/" (click)="closeNav(); closeSubNav()">Home</a>
      <a routerLink="/pre-game" (click)="closeNav(); closeSubNav()">PreGame</a>
      <a routerLink="/game-on" (click)="closeNav(); closeSubNav()">GameON</a>
      <a (click)="toggleSubNav(1)">It’sON <fa-icon [icon]="['fas', 'angle-down']" [class.up]="subState1 === 'active'"></fa-icon></a>
      <div class="subNav" [@navMenu]="subState1">
        <a routerLink="/its-on/hands-on-comparison" (click)="closeNav()">Hands-On Comparison</a>
        <a routerLink="/its-on/street-drive" (click)="closeNav()">“Focus on the Family” Drive</a>
      </div>
      <a routerLink="/switched-on" (click)="closeNav(); closeSubNav()">SwitchedON</a>
      <a routerLink="/rock-on" (click)="closeNav(); closeSubNav()">RockON</a>
      <a routerLink="/keep-on" (click)="closeNav(); closeSubNav()">KeepON</a>
      <a (click)="closeNav(); closeSubNav(); openNotes()">Notes</a>
      <a (click)="closeNav(); closeSubNav(); openLeaderboard()">Leaderboards</a>
      <a (click)="closeNav(); closeSubNav(); logout()">Logout</a>
    </div>
    <div *ngIf="isAdmin">
      <a routerLink="/admin" (click)="closeNav(); closeSubNav()">Admin Home</a>
      <!--
      <a routerLink="/admin/group" (click)="closeNav(); closeSubNav()">Select Group</a>
      <a routerLink="/admin/users" (click)="closeNav(); closeSubNav()">New User</a>
      <a routerLink="/admin/showdown" (click)="closeNav(); closeSubNav()">Showdown</a>
      <a routerLink="/admin/report" (click)="closeNav(); closeSubNav()">User Report</a>
      -->
      <a (click)="closeNav(); closeSubNav(); logoutAdmin()">Logout</a>
    </div>
  </div>
</header>

<div (touchstart)="outsideNav()">
  <router-outlet></router-outlet>
</div>
