<div id="login">
  <div id="splash" [@fade]="true" *ngIf="!clicked">
    <div class="container text-center">
      <div class="logo">
        <img src="../../../assets/images/game-on-logo.png" width="70%" alt="Game On">

        <div class="logoBorder"></div>

        <h1>2020 Kia Telluride</h1>
      </div>

      <form #emailForm="ngForm" novalidate>
        <div class="form-group my-4" [class.nope]="email.errors && (email.touched || submitted)">
          <label for="email">Kia University Email</label>
          <input type="email" class="form-control" autocomplete="off" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="user.email" name="email" #email="ngModel" (ngModelChange)="hideError()">

          <div class="errorMsg" [@topDown]="true" *ngIf="email.errors && (email.touched || submitted)">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="email.errors.pattern">Email is invalid</p>
          </div>
        </div>

        <div class="errorMsg" [@topDown]="true" *ngIf="error">
          <p>Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
        </div>

        <button class="kiaBtn" [disabled]="loading" (click)="login(user, email.valid, stepper, 0)">
          <span *ngIf="!loading">Let’s Go!</span>
          <span *ngIf="loading">
            <mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner>
          </span>
        </button>
      </form>
    </div>
  </div>

  <div class="container" [@fade]="true" *ngIf="clicked">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 text-center">
        <div class="logo">
          <img src="../../../assets/images/game-on-logo.png" width="70%" alt="Game On">

          <div class="logoBorder"></div>

          <h1>2020 Kia Telluride</h1>
        </div>

        <form #registrationForm="ngForm" novalidate>
          <mat-horizontal-stepper #stepper>
            <mat-step>
              <h4>Welcome to the<br>
                In&#8209;Dealership&nbsp;Experience!</h4>

              <div class="form-group" [class.nope]="(first_name.errors && last_name.errors) && userChecked">
                <label>Name</label>
                <div [class.nope]="first_name.errors && userChecked">
                  <input type="text" class="form-control" autocomplete="off" required placeholder="First Name" [(ngModel)]="user.first_name" name="first_name" #first_name="ngModel" (ngModelChange)="hideError()">
                </div>

                <div class="errorMsg" [@topDown]="true" *ngIf="first_name.errors && userChecked">
                  <p>First Name is required</p>
                </div>

                <div [class.nope]="last_name.errors && userChecked">
                  <input type="text" class="form-control" autocomplete="off" required placeholder="Last Name" [(ngModel)]="user.last_name" name="last_name" #last_name="ngModel" (ngModelChange)="hideError()">
                </div>

                <div class="errorMsg" [@topDown]="true" *ngIf="last_name.errors && userChecked">
                  <p>Last Name is required</p>
                </div>
              </div>

              <div class="form-group my-4" [class.nope]="dealer.errors && userChecked">
                <label for="dealer">Dealer Code</label>
                <input type="text" class="form-control" autocomplete="off" required [(ngModel)]="user.dealer" name="dealer" #dealer="ngModel" (ngModelChange)="hideError()">

                <div class="errorMsg" [@topDown]="true" *ngIf="dealer.errors && userChecked">
                  <p>Dealer Code is required</p>
                </div>
              </div>

              <div class="errorMsg" [@topDown]="true" *ngIf="error">
                <p>Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
              </div>

              <button class="kiaBtn" [disabled]="loading" (click)="checkUser(user, stepper, 1)">
                <span *ngIf="!loading">Next</span>
                <span *ngIf="loading">
                  <mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner>
                </span>
              </button>
            </mat-step>
            <mat-step>
              <h4>Hello, {{ user.first_name }}!<br>
                Select your&nbsp;session:</h4>

              <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="AM" required [(ngModel)]="user.session" name="session" #session="ngModel">
                    <div class="selector" [class.selected]="user.session === 'AM'" [class.nope]="session.errors && sessionChecked">
                      <fa-icon [icon]="['fas', 'check']" *ngIf="user.session === 'AM'"></fa-icon>
                      <span>AM</span>
                    </div>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="PM" required [(ngModel)]="user.session" name="session" #session="ngModel">
                    <div class="selector" [class.selected]="user.session === 'PM'" [class.nope]="session.errors && sessionChecked">
                      <fa-icon [icon]="['fas', 'check']" *ngIf="user.session === 'PM'"></fa-icon>
                      <span>PM</span>
                    </div>
                  </label>
                </div>
              </fieldset>

              <div class="text-center">
                <div class="errorMsg">
                  <div [@topDown]="true" *ngIf="session.errors && sessionChecked">
                    <p>Please select your session</p>
                  </div>

                  <div [@topDown]="true" *ngIf="error">
                    <p>Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
                  </div>
                </div>

                <button class="kiaBtn" [disabled]="loading" (click)="checkSession(user.session, stepper, 2)">
                  <span *ngIf="!loading">Next</span>
                  <span *ngIf="loading">
                    <mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner>
                  </span>
                </button>

                <p>Not {{ user.first_name }}? <a (click)="startOver(true)">Start over.</a></p>
              </div>
            </mat-step>
            <mat-step>
              <h4>Last step!<br>
                Select your&nbsp;team:</h4>


              <fieldset class="form-group my-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="Team Prestige" required [(ngModel)]="user.team" name="team" #team="ngModel">
                    <div class="selector teams" id="team1" [class.selected]="user.team === 'Team Prestige'">
                      <!-- <div class="bgOverlay" *ngIf="user.team !== 'Team Prestige'"></div> -->
                      <fa-icon [icon]="['fas', 'check']" *ngIf="user.team === 'Team Prestige'"></fa-icon>
                      <span>Team Prestige</span>
                    </div>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" value="Team Innovative" required [(ngModel)]="user.team" name="team" #team="ngModel">
                    <div class="selector teams" id="team2" [class.selected]="user.team === 'Team Innovative'">
                      <!-- <div class="bgOverlay" *ngIf="user.team !== 'Team Innovative'"></div> -->
                      <fa-icon [icon]="['fas', 'check']" *ngIf="user.team === 'Team Innovative'"></fa-icon>
                      <span>Team Innovative</span>
                    </div>
                  </label>
                </div>
              </fieldset>

              <div class="text-center">
                <div class="errorMsg">
                  <div [@topDown]="true" *ngIf="team.errors && regSubmitted">
                    <p>Please select your Team</p>
                  </div>

                  <div [@topDown]="true" *ngIf="error">
                    <p>Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
                  </div>
                </div>

                <button class="kiaBtn" [disabled]="loading" (click)="register(user, registrationForm.valid)">
                  <span *ngIf="!loading">Submit</span>
                  <span *ngIf="loading">
                    <mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner>
                  </span>
                </button>

                <p>Not {{ user.first_name }}? <a (click)="startOver(true)">Start over.</a></p>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </form>
      </div>
    </div>
  </div>
</div>
