<section [@fade]="true">
  <div class="container text-center">
    <div class="logo">
      <img src="../../../assets/images/game-on-logo.png" width="70%" alt="Game On">

      <div class="logoBorder"></div>

      <h1>2020 Kia Telluride</h1>
    </div>

    <button class="kiaBtn large" routerLink="/pre-session">Pre-Session</button>
    <button class="kiaBtn large" routerLink="/game-on">GameON</button>
    <button class="kiaBtn large" routerLink="/switched-on">SwitchedON</button>
    <button class="kiaBtn large" routerLink="/its-on">It’sON</button>
    <button class="kiaBtn large" routerLink="/rock-on">RockON</button>
  </div>
</section>
