<section [@fade]="true">
  <div class="container text-center">
    <div class="logo">
      <img src="../../../assets/images/game-on-logo.png" width="70%" alt="Game On">

      <div class="logoBorder"></div>

      <h1>2020 Kia Telluride</h1>
    </div>

    <button class="kiaBtn large" routerLink="/pre-session">PreGame
      <br><span>(Pre-Session Content)</span></button>
    <button class="kiaBtn large" routerLink="/game-on">GameON
      <br><span>(Kickoff &ndash; Opening Competition)</span></button>
    <button class="kiaBtn large" routerLink="/its-on">It’sON
      <br><span>(Brand &ndash; Segment &ndash; Customer Exploration)</span></button>
    <button class="kiaBtn large" routerLink="/switched-on">SwitchedON
      <br><span>(Vehicle &ndash; Competitor Deep Hands On Exploration)</span></button>
    <button class="kiaBtn large" routerLink="/rock-on">RockON
      <br><span>(Recap &ndash; Certification Quiz)</span></button>
    <button class="kiaBtn large" routerLink="/rock-on">KeepON
      <br><span>(Post-Event Sustainment)</span></button>
  </div>
</section>
