<h1 mat-dialog-title *ngIf="!edit">New User</h1>
<h1 mat-dialog-title *ngIf="edit">Editing {{ user.first_name }} {{ user.last_name }}</h1>

<button class="mat-dialog-close" (click)="closeDialog()">&times;</button>

<form #userForm="ngForm" novalidate>
  <div mat-dialog-content>
    <div *ngIf="!error && !success">
      <div class="form-group my-4" [class.nope]="email.errors && (email.touched || submitted)">
        <label for="email">Kia University Email</label>
        <input type="email" class="form-control" autocomplete="off" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" [(ngModel)]="user.email" name="email" #email="ngModel" (ngModelChange)="hideError(); changed()">

        <div class="errorMsg" [@topDown]="true" *ngIf="email.errors && (email.touched || submitted)">
          <p *ngIf="email.errors.required">Email is required</p>
          <p *ngIf="email.errors.pattern">Email is invalid</p>
        </div>

        <div class="errorMsg" [@topDown]="true" *ngIf="emailUsed">
          <p>Email is already registered</p>
        </div>
      </div>

      <div class="form-group" [class.nope]="(first_name.errors && last_name.errors) && submitted">
        <label>Name</label>
        <div [class.nope]="first_name.errors && (first_name.touched || submitted)">
          <input type="text" class="form-control" autocomplete="off" required placeholder="First Name" [(ngModel)]="user.first_name" name="first_name" #first_name="ngModel" (ngModelChange)="hideError(); changed()">
        </div>

        <div class="errorMsg" [@topDown]="true" *ngIf="first_name.errors && (first_name.touched || submitted)">
          <p>First Name is required</p>
        </div>

        <div [class.nope]="last_name.errors && (last_name.touched || submitted)">
          <input type="text" class="form-control" autocomplete="off" required placeholder="Last Name" [(ngModel)]="user.last_name" name="last_name" #last_name="ngModel" (ngModelChange)="hideError(); changed()">
        </div>

        <div class="errorMsg" [@topDown]="true" *ngIf="last_name.errors && (last_name.touched || submitted)">
          <p>Last Name is required</p>
        </div>
      </div>

      <div class="form-group my-4" [class.nope]="invalid || (dealer.errors && (dealer.touched || submitted))">
        <label for="dealer">Dealer Code</label>
        <input uppercaseInput type="text" class="form-control" autocomplete="off" required [(ngModel)]="user.dealer" name="dealer" #dealer="ngModel" (ngModelChange)="hideError(); changed()">

        <div class="errorMsg" [@topDown]="true" *ngIf="dealer.errors && (dealer.touched || submitted)">
          <p>Dealer Code is required</p>
        </div>
      </div>

      <fieldset class="form-group">
        <p>Session</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="AM" required [(ngModel)]="user.session" name="session" #session="ngModel" (ngModelChange)="hideError(); changed()">
            <div class="selector" [class.selected]="user.session === 'AM'" [class.nope]="invalid || (session.errors && submitted)">
              <fa-icon [icon]="['fas', 'check']" *ngIf="user.session === 'AM'"></fa-icon>
              <span>AM</span>
            </div>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="PM" required [(ngModel)]="user.session" name="session" #session="ngModel" (ngModelChange)="hideError(); changed()">
            <div class="selector" [class.selected]="user.session === 'PM'" [class.nope]="invalid || (session.errors && submitted)">
              <fa-icon [icon]="['fas', 'check']" *ngIf="user.session === 'PM'"></fa-icon>
              <span>PM</span>
            </div>
          </label>
        </div>

        <div class="errorMsg" [@topDown]="true" *ngIf="session.errors && submitted">
          <p>Please select a session</p>
        </div>

        <div [@topDown]="true" *ngIf="invalidSession">
          <p>A Session Code could not be found for your Dealer Code</p>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <p>Team</p>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="Team Prestige" required [(ngModel)]="user.team" name="team" #team="ngModel" (ngModelChange)="hideError(); changed()">
            <div class="selector" [class.selected]="user.team === 'Team Prestige'" [class.nope]="invalid || (team.errors && submitted)">
              <fa-icon [icon]="['fas', 'check']" *ngIf="user.team === 'Team Prestige'"></fa-icon>
              <span class="font-weight-bold h5 text-uppercase">Team Prestige</span>
            </div>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" value="Team Innovative" required [(ngModel)]="user.team" name="team" #team="ngModel" (ngModelChange)="hideError(); changed()">
            <div class="selector" [class.selected]="user.team === 'Team Innovative'" [class.nope]="invalid || (team.errors && submitted)">
              <fa-icon [icon]="['fas', 'check']" *ngIf="user.team === 'Team Innovative'"></fa-icon>
              <span class="font-weight-bold h5 text-uppercase">Team Innovative</span>
            </div>
          </label>
        </div>

        <div class="errorMsg" [@topDown]="true" *ngIf="team.errors && submitted">
          <p>Please select a team</p>
        </div>
      </fieldset>
    </div>

    <div [@fade]="true" *ngIf="!error && success">
      <h4>Success!</h4>

      <p>{{ user.first_name }} {{ user.last_name }} has successfully been <span *ngIf="!edit">added</span><span *ngIf="edit">edited</span>.</p>
    </div>

    <div class="errorMsg" [@topDown]="true" *ngIf="error">
      <p>Something went wrong... Please make sure you have a WiFi or mobile data connection and try refreshing your&nbsp;browser.</p>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="d-flex" *ngIf="!success">
      <p class="errorMsg" [@fade]="true" *ngIf="(!userForm.valid || emailUsed || invalidSession) && submitted">Please fix errors above</p>
      <p class="errorMsg" [@fade]="true" *ngIf="edit && noChanges && submitted">No changes have been made</p>
      <button class="kiaBtn dialog secondary" type="button" (click)="closeDialog()">Cancel</button>
      <button class="kiaBtn dialog primary" [disabled]="loading" (click)="submit(user, userForm.valid)">
        <span *ngIf="!loading">Submit</span>
        <span *ngIf="loading">
          <mat-spinner class="mx-auto" [diameter]="20" [strokeWidth]="3"></mat-spinner>
        </span>
      </button>
    </div>
    <div class="d-flex" *ngIf="success">
      <button class="kiaBtn dialog primary" type="button" mat-dialog-close>Close</button>
    </div>
  </div>
</form>
